/* common styles */

.banner-title {
    font-family: 'lato', sans-serif;
    font-family: 'open sans', sans-serif;
    color: #272727;
}

.banner {
    display: flex;
    justify-content: space-between;
    background-color: #fceef1;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 150px;
    font-size: 25px;
}

.banner-description {
    margin-bottom: 25px;
    color: #7c7778;
    font-size: 12px;
}

.btn-primary {
    background-color: #e55473;
    color: white;
    border: none;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
}

/* main related styles */

.second-step {
    text-align: center;
}

.second-title {
    font-size: 25px;
    margin-bottom: 20px;
}

.second-description {
    font-size: 16px;
}

.fuljhuri {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-around;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
}

.flower-1 {
    background-color: #f2dee7;
    padding: 40px 40px 0px 40px;
    border-radius: 220px 220px 0px 0px;
}

.flower-2 {
    background-color: #d9eff1;
    padding: 40px 40px 0px 40px;
    border-radius: 220px 220px 0px 0px;
    background-size: 200px;
    margin-left: 5px;
}

.flower-3 {
    background-color: #e3ebdb;
    padding: 40px 40px 0px 40px;
    border-radius: 220px 220px 0px 0px;
    background-size: 200px;
    margin-left: 5px;
}

.caption {
    text-align: center;
    font-weight: bold;
    text-decoration: underline gray;
}

.third-step {
    display: flex;
    background-color: #f4f4f4;
    margin-bottom: 100px;
    height: 200px;
    text-align: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-between;
    border-radius: 15px;
    padding: 30px;
}

.third {
    margin-top: 20px;
    font-size: 16px;
}
.banner-2{
    background-color: #fef6f8;
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 50px 250px 0px 250px;
    margin-bottom: 100px;
}
.banner-2-title{
font-size: 36px;
margin-bottom: 20px;
}
.banner-2-description{
font-size: 16px;
margin-bottom: 20px;
}
/* instagram section */

.insta{
    text-align: center;
}
.insta-title{
    font-size: 30px;
}
.insta-description{
    font-size: 15px;
}
.section-3{
    display: flex;
    margin: 0px 200px 100px;
}
.section-4{
    background-image: url("/Flower Asset/Rectangle\ 9.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin: 0px 200px 100px 200px;
}
.Latest{
    text-align: center;
    align-items: center;
    padding: 100px 100px;
}
.Latest-descrip{
    margin: 20px 0px;
}
.email{
    margin-right: 10px;
    padding: 15px 200px;
    border-radius: 5px;
    border: none;
}